@use 'bootstrap';

// rest rules
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// color palette
:root {
    --bg-blue: #0282F9;
    --bg-dark-gray: #1c1c1c
}

// common rules
.width70 {
    width: 70%;
    margin: auto;
}
.container {
    display: flex;
}


// header
header {
    .top_header {
        background-color: var(--bg-blue);
        color: white;
        h3 {
            font-size: .8rem;
            margin-left: 2rem;
            align-items: center;
        }
        .container {
            justify-content: end;
        }
    }
    .bottom_header {
        .width70 {
            align-items: center;
            justify-content: space-between;
            .logo {
                width: 10%;
                img {
                    width: 80%;
                }
            }
            .nav {
                width: 80%;
                justify-content: center;
                .link {
                    margin-left: 1rem;
                    &:hover {
                        border-bottom: 3px solid var(--bg-blue);
                    }
                    a {
                        text-decoration: none;
                        color: #000;
                        font-size: .8rem;
                    }
                }
            }
            .search {
                a {
                    text-decoration: none;
                    color: #000;
                    font-size: .8rem;
                }
            }
        }
    }
}

// main
main {
    .main_content {
        background-color: var(--bg-dark-gray);
        padding-bottom: 2rem;
        .hero {
            img {
                width: 100%;
            }
        }
        .comics {
            flex-wrap: wrap;
            .comic {
                padding-top: 2rem;
                width: calc(100%/6);
                .poster {
                    img {
                        width: 100%;
                    }
                }
                h3 {
                    padding-top: 1rem;
                    color: white;
                    font-size: .8rem;
                }
            }
        }
        .more {
            width: 15%;
            margin: auto;
            background-color: var(--bg-blue);
            margin-top: 2rem;
            h2 {
                text-align: center;
                font-size: .9rem;
                color: white;
                vertical-align: middle;
            }
        }
    }
}

// footer