@use 'bootstrap';

// rest rules
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// color palette
:root {
    --bg-blue: #0282F9;
}

// common rules
.width70 {
    width: 70%;
    margin: auto;
}
.container {
    display: flex;
}


// header
header {
    .top_header {
        background-color: var(--bg-blue);
        color: white;
        h3 {
            font-size: .8rem;
            margin-left: 2rem;
            align-items: center;
        }
        .container {
            justify-content: end;
        }
    }
}

// main

// footer